.checkout-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    border: 1px solid black;
    width: 100%;
    height: 50vh;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}


img {
    width: 100px;
    height: 100%;
}

.name,
.quantity,
.price {
    width: 30%;
}


.quantity {
    padding-left: 20px;

}

.remove-button {
    padding-left: 12px;
    cursor: pointer;
}

.fa-plus {
    margin-left: 10px;
}

.fa-minus {
    margin-right: 10px;
}

.fa:hover {
    cursor: pointer;
}


@media(max-width:500px) {
    .checkout-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border: 1px solid black;
        width: 100%;
        height: 50vh;
        font-size: 20px;
        margin-bottom: 10px;
    }
}