.sign-in {
    margin: 0 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 380px;
}

.google-button {
    background-color: darkorchid;
    color: white;
    border: 0;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.google-button:hover {
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.buttons {
    text-align: center;
}

@media (max-width: 500px) {
    .sign-in {
        margin: 0 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: auto
    }

    .google-button {
        margin-top: 10px;
        background-color: darkorchid;
        color: white;
        border: 0;
        height: 50px;
        margin-left: 10px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        cursor: pointer;
    }
}