.background {
    padding-top: 150px;
    background: url(../../assests/erica-zhou-IHpUgFDn7zU-unsplash.jpg) no-repeat center center/cover;
    object-fit: cover;
    width: 100%;
    height: 120vh;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 50px;
    color: rgb(231, 231, 18);
    text-align: center;
}

@media(max-width: 600px) {
    .heading {
        font-size: 30px;
        text-align: center;
    }

    body {
        padding-top: 150px;
        object-fit: cover;
        width: 100%;
        height: 50vh;
        margin: auto;
        text-align: center;
        padding: 10px;
    }
}