/* .SignInSignUp {
    width: 100vw;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
} */

.SignInSignUp {
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 10px;
}


/* @media(max-width: 500px) {
    .SignInSignUp {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
} */